DATABASE_URL="file:./dev.db"

# Sacala de https://dashboard.composio.dev/agusdn98_workspace/~/connect
COMPOSIO_API_KEY=""
# Identificador de usuario/entidad dentro de tu workspace de Composio
COMPOSIO_USER_ID="default"
